@font-face {
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IRANSansX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/IRANSansX-Bold.woff2') format('woff2');
}

body {
  font-family: 'IRANSansX', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
